@using MvcBookStore.Models
@model List<GioHang>
@{
    ViewBag.Title = "GioHang";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2 style="text-align: center">THÔNG TIN GIỎ HÀNG</h2>
<table align="center" border="1">
    <tr style="text-align: center">
        <th>Mã sách</th>
        <th>Tên sách</th>
        <th>Ảnh bìa</th>
        <th style="width: 60px">Số lượng</th>
        <th>Đơn giá</th>
        <th>Thành tiền</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.iMasach</td>
            <td>@item.sTensach</td>
            <td><img src="~/Content/images/@item.sAnhbia" style="width: 100px" /></td>
            @using (Html.BeginForm("CapNhatGioHang", "Giohang", new { @iMaSP = item.iMasach }))
            {
                <td>
                    <input type="number" min="1" name="txtSoLuong" value="@item.iSoluong" style="background-color: yellow" />
                </td>
                <td>@String.Format("{0:0,0}", item.dDongia)</td>
                <td>@String.Format("{0:0,0}", item.dThanhtien)</td>
                <td><a href="@Url.Action("Details", "BookStore", new { id = item.iMasach})">Chi tiết</a></td>
                <td>@Html.ActionLink("Xóa", "XoaGioHang", new { @iMaSP = item.iMasach })</td>
                <td><input type="submit" value="Cập nhật" /></td>
            }

        </tr>
    }
    <tr style="font-weight: bold; text-align: center; color: red">
        <td colspan="4">Số lượng sách: @ViewBag.TongSL</td>
        <td colspan="5">Tổng tiền: @String.Format("{0:0,0}", ViewBag.TongTien) VNĐ</td>
    </tr>
    <tr style="font-weight: bold; text-align: right; color: blue">
        <td colspan="9">
            @Html.ActionLink("Xóa tất cả", "XoaTatCaGioHang")
        </td>
    </tr>
    <tr style="font-weight: bold; text-align: center; color: blue">
        <td colspan="9">
            @Html.ActionLink("Đặt Hàng", "DatHang", "Giohang")
        </td>
    </tr>
</table>
