@model MvcBookStore.Models.SACH

@{
    ViewBag.Title = "ChiTietSach";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>ChiTietSach</h2>

<div>
    <h4>SACH</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên sách: 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tensach)
        </dd>

        <dt>
           Giá bán:
        </dt>

        <dd>
           @String.Format("{0:0,0}", Model.Giaban) VNĐ
        </dd>

        <dt>
            Mô tả:
        </dt>

        <dd style="width: 500px; text-align: justify">
            @Html.DisplayFor(model => model.Mota)
        </dd>

        <dt>
           Ảnh bìa:
        </dt>

        <dd>
            <img src="@Url.Content("~/Content/images/" + Model.Anhbia)" alt="Alternate Text" width="60" />
        </dd>
        <dt>
            Ngày cập nhật:
        </dt>

        <dd>
            @String.Format("{0:dd/MM/yyyy}", Model.Ngaycapnhat)
        </dd>

        <dt>
            Số lượng tồn:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Soluongton)
        </dd>

        <dt>
            Chủ đề:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CHUDE.TenChuDe)
        </dd>

        <dt>
           Nhà xuất bản:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NHAXUATBAN.TenNXB)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Điều chỉnh", "SuaSach", new { id = Model.Masach }) |
    @Html.ActionLink("Quay lại", "Sach")
</p>
